<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hq.demoviewpagerandtabhost">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/clogo"
        android:label="Chit Chat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MSocket">
        <activity android:name="com.hq.demoviewpagerandtabhost.SigninActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.MainActivity"></activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.SignupActivity"></activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.AboutmeActivity"></activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.FramechatActivity"></activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.AddActivity"></activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.ChangeprofileActivity"></activity>
        <activity android:name="com.hq.demoviewpagerandtabhost.ChangepassActivity"></activity>
    </application>

</manifest>